version: "3.9"

services:
  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "5001:5001"
    env_file:
      - .env
    # if your backend writes files / images, mount a volume
    # volumes:
    #   - ./data:/app/data

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - BACKEND_URL=http://backend:5001/api/schedule
      - NEXT_PUBLIC_API_BASE=http://localhost:3000
    depends_on:
      - backend
